body {
	/* set margin to 0 and overflow to hidden, to go fullscreen */
	margin: 0;
	overflow: hidden;
}

a {
	color: inherit;
	
	&:hover {
		color: #7f8ff4;
	}
}

div p {
	display: inline-block;
	font-family: 'Montserrat';
	font-size: 30px;
	color: snow;
	text-transform: none;
	margin: 0 20px;
	opacity: 0.0;
	animation: fadeIn ease 2s;
	-webkit-animation: fadeIn ease 10s;
	animation-fill-mode: forwards;
}

#question {
	position: absolute;
	top: 10%;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
	color:white;
	font-size: 20px;
}


#answer {
	position: absolute;
	top: 70%;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
	color:white;
}

#audio {
	position: absolute;
	top:90%;
	padding:20px;
	font-size: 75%;
	font-style: italic;
}

/*
.answer {
	position: absolute;
	top: 70%;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
	color:white;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	}*/

	input[type=text], select {
		width: 50%;
		padding: 12px 20px;
		margin: 8px 0;
		display: inline-block;
		border: 1px solid #ccc;
		border-radius: 4px;
		box-sizing: border-box;
		background-color:snow;
	}

	:root {
		background: #f5f6fa;
		color: #9c9c9c;
		font: 1rem "PT Sans", sans-serif;
	}

	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}


	.lower {
		text-transform: lowercase;
	}

	.btn {
		display: inline-block;
		background: transparent;
		color: inherit;
		font: inherit;
		border: 0;
		outline: 0;
		padding: 0;
		transition: all 200ms ease-in;
		cursor: pointer;

		&--primary {
			background: #7f8ff4;
			color: #fff;
			box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
			border-radius: 2px;
			padding: 12px 36px;

			&:hover {
				background: darken(#7f8ff4, 4%);
			}

			&:active {
				background: #7f8ff4;
				box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, .2);
			}
		}

		&--inside {
			margin-left: -96px;
		}
	}

	.form {	
		&__field {
			width: 360px;
			background: #fff;
			color: #a3a3a3;
			font: inherit;
			box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .1);
			border: 0;
			outline: 0;
			padding: 22px 18px;
		}
	}

	@keyframes fadeIn {
		0% {opacity:0;}
		100% {opacity:1;}
	}

	@-moz-keyframes fadeIn {
		0% {opacity:0;}
		100% {opacity:1;}
	}

	@-webkit-keyframes fadeIn {
		0% {opacity:0;}
		100% {opacity:1;}
	}

	@-o-keyframes fadeIn {
		0% {opacity:0;}
		100% {opacity:1;}
	}

